[data-showmore] {
	@media (min-width:$mobile){
		display: none;
	}
}
[data-showmore-content] {
}
[data-showmore-button] {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	font-family: Josefin Sans;
	font-weight: 700;
	font-size: rem(16);
	line-height: math.div(16, 16);
	margin: 0 auto;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
	border-radius: 5px;
	padding: rem(15) rem(15);
	gap: rem(10);

	&::before{
		font-size: 5px;

		._showmore-active & {
			display: none;
		}
	}
	span {
		&:last-child {
			display: none;
		}
		._showmore-active & {
			display: none;
			&:last-child {
				display: block;
			}
		}
	}
}